body {
    background-image: linear-gradient(to right, rgba(128, 0, 128, 0.938) +20% , rgba(255, 255, 0, 0.678) );
    font: normal 18pt Arial;
    color: white;
    text-align: center;
}

input {   
    border:1px solid white;
    padding :0 15px;
    height:45px;
    width:170px;
    font-size:1.3rem;
    font-weight:600;
    background:0;
    color:#fff;
    border-radius:4px;
    transition: background 0.2s;
}

footer {
    font: oblique 10pt Arial; 
}